      <div class="blog__contents__bottom__side">
        <div class="blog__contents__bottom__side__profile">
          <div class="blog__contents__bottom__side__profile__title"> Profile</div>
            <div class="blog__contents__bottom__side__profile__title__display">
            <div class="blog__contents__bottom__side__profile__title__display__left">
            <div class="blog__contents__bottom__side__profile__photo">
              <img src="/assets/self.jpg" alt="Mayu Kuno" />
            </div>
            <div class="blog__contents__bottom__side__profile__name">
                <h1>Mayu Kuno</h1>
            </div>
            </div>
            <div class="blog__contents__bottom__side__profile__title__display__right" >
            <div class="blog__contents__bottom__side__profile__description">
                <p>
                エンジニアになるためプログラミングを勉強しています。<br>
                プログラミングで学んだことのアウトプットとしてブログにしていきます。<br>
                </p>
            </div>
            
            <ul class="blog__contents__bottom__side__profile__snsbtn">
              <li><a href="https://twitter.com/CoderNinefs" class="blog__contents__bottom__side__profile__snsbtn__btn twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/coderninefs/?hl=ja" class="blog__contents__bottom__side__profile__snsbtn__btn instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/mayukuno1006/" class="blog__contents__bottom__side__profile__snsbtn__btn facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="mailto:ninefs1006@gmail.com?subject=問い合わせ&amp;body=ご記入ください" class="blog__contents__bottom__side__profile__snsbtn__btn mail" target="_blank"><i class="far fa-envelope"></i></a></li>
              <li><a href="https://www.linkedin.com/in/%E7%9C%9F%E5%84%AA-%E4%B9%9D%E9%87%8E-000601184/" class="blog__contents__bottom__side__profile__snsbtn__btn linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>

            </ul>
            <div class="blog__contents__bottom__side__profile__adminpage"><%= link_to "Admin Login", new_admin_session_path %></div>
            </div>
            </div>
        </div>

        <div class="blog__contents__bottom__side__category">
          <div class="blog__contents__bottom__side__category__title"> Category</div>
          <% @categories.each do |category| %>
            <div class="blog__contents__bottom__side__category__lists__list">
              <%= link_to category.text, category_path(category.id) %>
            </div>
          <% end %>

      </div>