<header>
  <div class="container">
    <div class="container__logo">
      <a class="container__logo__content" href="/">NINEFS</a>
    </div>
    <ul class="navigation">
      <li class="navigation__list-item "><a href="/about">About</a></li>
      <li class="navigation__list-item "><a href="/works">WORK</a></li>
      <li class="navigation__list-item blog-nav"><a href="/blogs">BLOG</a></li>
    </ul>
  </div>
</header>
<!-- ======================================== -->
<div class="blog__contents">
    <div class="blog__contents__top">
      <img src="/assets/blog.jpg" alt="article"/>
    </div>
    <div class="blog__contents__bottom">
      <div class="blog__contents__bottom__articles">
      <% @blogs.each do |blog| %>
        <div class="blog__contents__bottom__articles__article">
          <div class="blog__contents__bottom__articles__article__top">
            <div class="blog__contents__bottom__articles__article__top__image">
              <img src="<%= "#{blog.image}" %>">
            </div>
          </div>
          <div class="content__right">
            <div class="content__right__top">
              <%= link_to blog.title, blog_path(blog.id), class: "content__right__top--title" %>
            </div>
            <div class="content__right__bottom">
              <div class="content__right__bottom--userName">
              </div>
              <div class="content__right__bottom--date">
                <%= blog.created_at.strftime '%Y-%m-%d' %>

              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      <div class="blog__contents__bottom__side">
        <div class="blog__contents__bottom__side__profile">
          <div class="blog__contents__bottom__side__profile__title"> Profile</div>
            <div class="blog__contents__bottom__side__profile__photo">
              <img src="/assets/self.jpg" alt="Mayu Kuno" />
            </div>
            <div class="blog__contents__bottom__side__profile__name">
                <h1>Mayu Kuno</h1>
            </div>
            <div class="blog__contents__bottom__side__profile__description">
                <p>
                エンジニアになるためプログラミングを勉強しています。<br>
                プログラミングで学んだことのアウトプットをブログにしていきます。<br>
                近い未来にカナダ移住をするために情報収集しています。
                </p>
            </div>
            <ul class="blog__contents__bottom__side__profile__snsbtn">
              <li><a href="https://twitter.com/CoderNinefs" class="blog__contents__bottom__side__profile__snsbtn__btn twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/mayu_k06/?hl=ja" class="blog__contents__bottom__side__profile__snsbtn__btn instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/mayukuno1006/" class="blog__contents__bottom__side__profile__snsbtn__btn facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://www.facebook.com/mayukuno1006/" class="blog__contents__bottom__side__profile__snsbtn__btn mail" target="_blank"><i class="far fa-envelope"></i></a></li>
            </ul>
        </div>
        <div class="blog__contents__bottom__side__category">
          <div class="blog__contents__bottom__side__category__title"> Category</div>
          <ul class="blog__contents__bottom__side__category__list">
            <li class="blog__contents__bottom__side__category__lists__list">Ruby</li>
            <li class="blog__contents__bottom__side__category__lists__list">LGBT</li>
          </ul>

        </div>
        <%= link_to "Admin Login", new_admin_session_path %>

      </div>
    </div>


</div>



    <!-- footer -->
<footer>
  <div class="container">
  <ul class="navigation">
      <li class="navigation__list-item "><a href="/about">About</a></li>
      <li class="navigation__list-item "><a href="/works">WORK</a></li>
      <li class="navigation__list-item blog-nav"><a href="/blogs">BLOG</a></li>
    </ul>
    <div class="container__logo">
      <a class="container__logo__content" href="/">NINEFS</a>
    </div>
  </div>
</footer>