
<header>
  <div class="container">
    <div class="container__logo">
      <a class="container__logo__content" href="/">NINEFS</a>
    </div>
    <ul class="navigation">
      <li class="navigation__list-item "><a href="/about">About</a></li>
      <li class="navigation__list-item "><a href="/works">WORK</a></li>
      <li class="navigation__list-item blog-nav"><a href="/blogs">BLOG</a></li>
    </ul>
  </div>
</header>
<!-- ======================================== -->
<div class="details__contents">
  <div class="details__contents__article">
    <div class="details__contents__article__titles">
      <div class="details__contents__article__titles__title">
        <%= simple_format(@blog.title) %>
      </div>
      <div class="details__contents__article__titles__date">
        <i class="far fa-clock"></i>
        <%= @blog.created_at.strftime '%Y-%m-%d %H:%M:%S' %>
      </div>
      <ul>
        <% @blog.categories.each do |category| %>
        <li class = "details__contents__article__titles__category">
            <%= link_to category.text, "#", class: "details__contents__article__titles__category__link" %>
        </li>
        <% end %>
      </ul>
   
    </div>
    <div class="details__contents__article__content">
      <%= simple_format(@blog.content) %>
    </div>
    
  </div>
  <div class="blog__contents__bottom__side">
    <div class="blog__contents__bottom__side__category">
      Category
    </div>
  </div>
</div>

    <!-- footer -->
<footer>
  <div class="container">
  <ul class="navigation">
      <li class="navigation__list-item "><a href="/about">About</a></li>
      <li class="navigation__list-item "><a href="/works">WORK</a></li>
      <li class="navigation__list-item blog-nav"><a href="/blogs">BLOG</a></li>
    </ul>
    <div class="container__logo">
      <a class="container__logo__content" href="/">NINEFS</a>
    </div>
  </div>
</footer>