@media screen and (max-width:959px){
    .about{
      margin-top: 30px;
      margin-left: 5px;
      margin-right: 5px;
      h1{
        font-size: $fontSmall;
      }
        &__top{
          &__photo{
            margin-bottom: 40px;

            img{
              height: 150px;
              width: 100px;
            }
          }
          &__right{
            
            width: 100%;
            height: 0px;
            position: relative;
            margin-left: 15px;
            img{
              width: 30px;
              height: 30px;
              margin-top: 0px;
              margin-right: 0px;
            }
            h1{
              font-size: $fontMedium;
            }
            p{
              margin-top: 10px;
              font-size: $fontSmallest;
            }
            &__snsbtn{
              display: flex;
              position: absolute;
              bottom: -180px;
              left: -10px;
              padding: 0;
              li{
                margin-right: 5px;
                list-style: none;
              }
              &__btn{
                border-radius:50%;
                position:relative;
                display:inline-block;
                width:30px;
                height:30px;
                font-size:$fontSmaller;

                i{
                  position:absolute;
                  top:50%;
                  left:50%;
                  transform:translate(-50%,-50%);
                }
              }
              .instagram,.mail,.git {
                font-size:$fontSmaller;
                }
            }
    
          }
        }
        &__bottom{
          margin-bottom: 60px;
          display: block;
          &__experiences{
            width: 100%;
            h1{
              width: 100%;
    
            }
    
            &__timeline {
              list-style: none;
              margin: 20px 0 30px 50px;
              padding-left: 30px;
              width: 83%;
              border-left: 8px solid #eee9dc;
              li {
                margin: 40px 0;
                position: relative;
              }
              &__title{
                width: 100%;
                font-size: $fontSmaller;
                font-weight: bold;
                border-bottom: solid 1.5px #494c4e;
                padding-bottom: 5px;
              }
              &__date {
                margin-top: -10px;
                top: 50%;
                left: -97px;
                font-size: $fontSmallest;
                line-height: 20px;
                position: absolute;
              }
              &__circle {
                margin-top: -10px;
                top: 50%;
                left: -44px;
                width: 20px;
                height: 20px;
                background: #494c4e;
                border: 5px solid #eee9dc;
                border-radius: 50%;
                display: block;
                position: absolute;
              
            }
            &__description{
              padding-top: 5px;
              font-size: $fontSmallest;
            }
          }
        }
    
          &__skills{
            margin-left: 0px;
            width: 100%;
            h1{
              border-bottom: solid 2px #494c4e;
              padding-bottom: 15px;
              width: 100%;
              font-size: $fontSmaller;
            }
            h2{

              font-size: $fontSmall;
            }
    
            &__container{
              margin-top: 40px;
              &__skill{
                display: flex;
                margin-bottom: 20px;
                margin-left: 10px;
                &__graph {
                  position: relative; 
                  width: 60%;
                  border: 1px solid #494c4e;
                  padding: 2px;
                  margin-left: 40px;
                  &__bar{
                    display: block;
                    position: relative;
                    background: #f6ac00;
                    text-align: center;
                    color: #f0ffff;
                    height: 2em;
                    line-height: 2em;
                    animation: bar-animation 1 3s;
                  }
                  @keyframes bar-animation{
                    0%{
                      width: 0px;
                    }
                  }
                }
              }
          }
          &__languages{
            width: 100%;
            &__language{

              &__title{
                span{
                  margin-left: 10px;
                  font-size: $fontSmaller;
                }
    
              }
              &__description{
                margin-left: 30px;
                margin-top: 30px;
                &__graph{
                  position: relative; 
                  width: 200px;
                  border: 1px solid #494c4e;
                  padding: 2px;
                  margin-left: 30px;
                  margin-bottom: 15px;
                  &__bar{
                    display: block;
                    position: relative;
                    background: #494c4e;
                    text-align: center;
                    color: #f0ffff;
                    height: 20px;
                    line-height: 20px;
                    animation: bar-animation 1 3s;
    
                  }
                }
    
              }
            }
          }
          }
        h2{
          font-size:$fontSmall ;
          display: block;
          width: 150px;
        }
        }
    
    }
    }
