    <header>
      <div class="container">
        <div class="container__logo">
          <a class="container__logo__content" href="/">NINEFS</a>
        </div>
        <ul class="navigation">
          <li class="navigation__list-item "><a href="/about">About</a></li>
          <li class="navigation__list-item "><a href="/works">WORK</a></li>
          <li class="navigation__list-item "><a href="/blogs">BLOG</a></li>
        </ul>
      </div>
    </header>
<div class="contents">
<!-- ====================top==================== -->
  <div class="contents__top">
    <h1>
    Hello, my name is Mayu.<br> I am just a queer individual who is hooked on coding.
    </h1>
    <div class="contents__top__photo">
      <img src="/assets/main.jpg" alt="Mayu Kuno"/>
    </div>
  </div>
<!-- ====================work==================== -->
  <div class="contents__content" >
    <h2 class="contents__content__ttl">Works</h2>
    <ul class="contents__content__workList">
      <li>
        <p class="photo"><a href="#"><img src="" /></a></p>
      </li>
      <li>
        <p class="photo"><a href="#"><img src="#" /></a></p>
      </li>
      <li>
        <p class="photo"><a href="#"><img src="#" /></a></p>
      </li>
      <li>
        <p class="photo"><a href="#"><img src="#" /></a></p>
      </li>
    </ul>
  </div>

<!-- ====================blog==================== -->
  <div class="contents__content">
    <h2 class="contents__content__ttl">Blogs</h2>
    <ul class="contents__content__blogList">
      <li>
        <p class="contents__content__blogList__photo"><a href="#"><img src="#"/></a></p>
        <p class="contents__content__blogList__comment">コメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
        <a href="#" class="contents__content__blogList__detail">more</a>
      </li>
      <li>
        <p class="contents__content__blogList__photo"><a href="#"><img src="#"/></a></p>
        <p class="contents__content__blogList__comment">コメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
        <a href="#" class="contents__content__blogList__detail">more</a>
      </li>
      <li>
        <p class="contents__content__blogList__photo"><a href="#"><img src="#" /></a></p>
        <p class="contents__content__blogList__comment">コメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
        <a href="#" class="contents__content__blogList__detail">more</a>
      </li>
    </ul>
  </div>
<!-- ====================getintouch==================== -->
  <div class="contents__content">
    <h2 class="contents__content__ttl">Get in touch</h2>
    <div class="contents__content__form">
        <form class="contact-form row">
          <div class="form-field col x-50">
            <input id="name" class="input-text js-input" type="text" required>
            <label class="label" for="name">Name</label>
          </div>
          <div class="form-field col x-50">
            <input id="email" class="input-text js-input" type="email" required>
            <label class="label" for="email">E-mail</label>
          </div>
          <div class="form-field col x-100">
            <input id="message" class="input-text js-input" type="text" required>
            <label class="label" for="message">Message</label>
          </div>
          <div class="form-field col x-100 align-center">
            <input class="submit-btn" type="submit" value="Submit">
          </div>
        </form>
      </div>
  </div>
  
<!-- ====================form==================== -->
  <div id="getintouch" class="contents__content">
      <div class="social-btns">
        <a class="btn twitter" href="https://twitter.com/CoderNinefs" target="_blank">
          <i class="fab fa-twitter home-twitter"></i>
        </a>
        <a class="btn instagram" href="https://www.instagram.com/mayu_k06/?hl=ja" target="_blank">
          <i class="fab fa-instagram home-insta"></i>
        </a>    
        <a class="btn github" href="https://github.com/MayuKuno" target="_blank">
          <i class="fab fa-github home-git"></i>
        </a>
        <a class="btn facebook" href="https://www.facebook.com/mayukuno1006/" target="_blank">
          <i class="fab fa-facebook-f home-fb"></i>
        </a>
      </div>
    </div>
</div>
<footer>
  <div class="container">
  <ul class="navigation">
      <li class="navigation__list-item "><a href="/about">About</a></li>
      <li class="navigation__list-item "><a href="/works">WORK</a></li>
      <li class="navigation__list-item "><a href="/blogs">BLOG</a></li>
    </ul>
    <div class="container__logo">
      <a class="container__logo__content" href="/">NINEFS</a>
    </div>
  </div>
</footer>
