@media screen and (max-width:959px){
  .post__contents{
    margin: 40px 0 40px 0;
    display: block;
    
    &__side{
      width: 100%;
      &__top{
        height: 120px;
        padding: 20px;
        background: -webkit-linear-gradient(top,#494c4e,#333);
        color: white;
        border-radius: 10px 0 0 0;
        &__name{
          font-size: 40px;
          text-align: center;
          a{
            text-decoration: none;
            color: white;
          }
        }
        &__name:hover {
          position: relative;
          top: 1px;
          left: 1px;
        }
        &__edit{
          width: 50px;
          height: 18px;
          line-height: 18px;
          background-color:white;
          text-align: center;
          float: right;
          margin-top: 8px;
          &__link{
            text-decoration: none;
            color: #494c4e;
            font-size: 11px;
            
          }
        }
        &__edit:hover {
          position: relative;
          top: 1px;
          left: 1px;
        }
        &__logout{
          width: 50px;
          height: 18px;
          line-height: 18px;
          background-color:white;
          text-align: center;
          float: right;
          margin-left: 10px;
          margin-top: 8px;
  
  
          &__link{
            text-decoration: none;
            color: #494c4e;
            font-size: 11px;
          }
        }
        &__logout:hover {
          position: relative;
          top: 1px;
          left: 1px;
        }
      }
      &__bottom{
        display: block;
        width: 100%;
        ul{
          display: flex;
          // float: left;
          margin: 0px;
          padding: 0px;
          list-style: none;
          overflow: hidden;
          border-radius: 0 0 0 10px;
          background: #494c4e;
        }
        li{
          width: 50%;
          padding: 20px;
          background-color:#494c4e;
          color: white;
          border-radius: 10px 0 0 10px;
          border-bottom: 1px solid #494c4e;
          margin-bottom: 1px;
          text-align: left;
          padding: 0px;
          
  
          a{
            display: block;
            font-size: 14pt;
            color: white;
            text-decoration: none;
            padding: 7%;
            background: -webkit-linear-gradient(top,#494c4e,#333);
          }
          a.selected{
            background: beige;
            color: #000;
          }
        }
        li:last-child{
          margin-bottom: 0px;
          border-bottom: 0px;
        }
        }
      }
    section{
      display: block;
      float: left;
      width:100%;
      min-height: 500px;
      padding-left: 0px;
      border-radius: 0 10px 10px 0;
    }
    article{
      display: none;
      margin: 0px;
      color: #555;
    }
    &__content{
  
      &__dashboard{
        &__blogPhone{
          display: block;
          &__new{
            background-color: beige;
            width: 100%;
            padding: 0 20px;
            margin: 10px 0;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            &__link{
                color: black;
                text-decoration: none;
            }
            &__icon{
              // padding-top: 10px;
              font-size: 18px;
              color: black;
              margin-right: 10px;
              
            }
          }

          &__img{
            text-align: center;
            img{
              object-fit: cover;
              width: 90%;
              height: 250px;
              margin-bottom: 20px;
            }
          }

        }
        &__blog{
          display: none;  



        }
        &__workPhone{
          display: block;
          
        }
        &__work{
          display: none;

  
        }
      }
    }
  
  }
  
  
  
  
  .postManage{
    display: flex;
    justify-content: center;
    &__preview{
      margin-right: 20px;
      background-color: beige;
      color: black;
      padding: 10px;
      text-decoration: none;
      box-shadow: 0 2px 4px rgba(0,0,0,0.3);
      // border-radius: 10px;
    }
    &__preview:hover {
      position: relative;
      top: 1px;
      left: 1px;
      box-shadow: 0 0 2px rgba(0,0,0,0.2);
  
   }
    &__edit{
      margin-right: 20px;
      background-color: beige;
      color: black;
      padding: 10px;
      text-decoration: none;
      box-shadow: 0 2px 4px rgba(0,0,0,0.3);
      // border-radius: 10px;
    }
    &__edit:hover {
      position: relative;
      top: 1px;
      left: 1px;
      box-shadow: 0 0 2px rgba(0,0,0,0.2);
  
   }
    &__delete{
      margin-right: 20px;
  
      background-color: beige;
      color: black;
      padding: 10px;
      text-decoration: none;
      box-shadow: 0 2px 4px rgba(0,0,0,0.3);
      // border-radius: 10px;
    }
    &__delete:hover {
      position: relative;
      top: 1px;
      left: 1px;
      box-shadow: 0 0 2px rgba(0,0,0,0.2);
  
   }
   &__dashboard{
    background-color: beige;
    color: black;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    // border-radius: 10px;
  }
  &__dashboard:hover {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
  
  }
  }
  .adminnew_contents{
    // box-shadow: 4px 4px;
    width: 100%;
    margin:60px 0;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
  
    &__title{
      color: white;
      height: 100px;
      line-height: 100px;
      padding-left: 20px;
      font-size: 20px;
      background-color: #494c4e;
    }
    &__form{
      width: 100%;
      background-color: #fffaf0;
      padding: 20px 0;
      .fr-box{
        width: 60%;
        margin: 20px auto;
      }
      &__preview{
        margin: 0 auto;
        width: 90%;
        font-weight: bold;      
      }
      &__item{
      margin: 0 auto;
      width: 90%;
      font-weight: bold;
  
      &__category{
        margin: 30px 0px;
        position: relative;
        // display: flex;
        &__left{
          margin-left: 80px;
          margin-bottom: 10px;
  
          a{
            color: #494c4e;
            position: absolute;
            right: 0;
          }
        }
      }
      select {
        position: relative;
        font-family: inherit;
        background-color: transparent;
        width: 100%;
        padding: 10px 10px 10px 0;
        font-size: 18px;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid rgba(0,0,0, 0.3);
        outline: none;
      }
      }
      &__title{
        display: block;
        width: 90%;
        height: 40px;
        margin: 20px auto;
        border-radius: 10px;
        border: none;
      }
      &__images{
        display: block;
        margin: auto;
        width: 60%;
        margin-top: 60px;
        &__image{
          display: block;
          width: 60%;
          height: 40px;
          margin: 80px auto;
          &__img{
            width: auto;
            margin-right: 20px;
            background-color: beige;
            color: black;
            padding: 10px;
            text-decoration: none;
            box-shadow: 0 2px 4px rgba(0,0,0,0.3);
            border-radius: 10px;
          }
          &__img:hover {
            position: relative;
            top: 1px;
            left: 1px;
            box-shadow: 0 0 2px rgba(0,0,0,0.2);
         }
          &__file{
            display: none;
  
          }
        }
        &__show{
          width: 100%;
          height: auto;
          #img_prev{
            width: 100%;
            height: auto;
          }
        }
      }
      &__description{
        display: block;
        width: 90%;
        height: 80px;
        margin: 20px auto;
        border-radius: 10px;
        border: none;
  
      }
      &__content{
        display: block;
        width: 90%;
        height: 300px;
        margin: 20px auto;
      }
      &__category{
        display: block;
        width: 90%;
        height: 40px;
        margin: 20px auto;
        padding-top: 20px;
      }
      input[type="checkbox"] { 
        display: none; 
  
      }
  
      input[type="checkbox"] + label {
        display: inline-block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 20px;
        margin-right: 41px;
        color: black;
        cursor: pointer;
      }
  
      input[type="checkbox"] + label:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #545454;
        position: absolute;
        left: 0;
        top: 0;
        transition: all .12s, border-color .08s;
      }
  
      input[type="checkbox"]:checked + label:before {
        width: 10px;
        top: -5px;
        left: 5px;
        border-top-color: transparent;
        border-left-color: transparent;
        transform: rotate(45deg);
      }
      &__btn{
        display: block;
        width: 90%;
        height: 40px;
        margin: 20px auto;
  
        // margin-right: 20px;
        background-color: beige;
        color: black;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        border-radius: 10px;
        border: none;
      }
      &__btn:hover {
        position: relative;
        top: 1px;
        left: 1px;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
     }
     &__back{
      display: block;
      width: 90%;
      height: 40px;
      margin: 20px auto;
  
      // margin-right: 20px;
      background-color: beige;
      color: black;
      padding: 10px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.3);
      border-radius: 10px;
      border: none;
      text-decoration: none;
      text-align: center;
    }
    &__back:hover {
      position: relative;
      top: 1px;
      left: 1px;
      box-shadow: 0 0 2px rgba(0,0,0,0.2);
  
   }
    }
  }
  
  .posts{
    &__paginate {
      margin: 0 auto;
      text-align: center;
      a{
        color: black;
        text-decoration: none;
      }
      a:hover {
        position: relative;
        top: 1px;
        left: 1px;
      }
    }
  }
  

}