    <header>
      <div class="container custom-header">
        <div class="container__logo">
          <a class="container__logo__content" href="/">NINEFS</a>
        </div>
        <div id="nav-toggle">
          <div>
              <span class="toggle"></span>
              <span class="toggle"></span>
              <span class="toggle"></span>
          </div>
        </div>
        <div id="gloval-nav">
          <ul class="navigation">
            <li class="navigation__list-item about-nav"><a href="/about">About</a></li>
            <li class="navigation__list-item "><a href="/works">WORK</a></li>
            <li class="navigation__list-item "><a href="/vlogs">BLOG</a></li>
          </ul>
        </div>
      </div>
    </header>




<div class="about">
<!-- ====================top==================== -->
  <div class="about__top">
    <div class="about__top__photo">
      <img src="/assets/self.jpg" alt="Mayu Kuno" />
      
    </div>
    <div class="about__top__right">
      <img src="/assets/ribbon.png" alt="Mayu Kuno" /> 
      <div class="about__top__right__pr">
        <h1>Mayu Kuno</h1>
        <p>
        I am a Japan-based code newbie. I started coding at the age of 23 and now looking for a position to work as an enginner.<br>I am passionate about building websites that are inclusive to every one of person.</p>
      </div>
    <ul class="about__top__right__snsbtn">
      <li>
        <a href="https://twitter.com/CoderNinefs" class="about__top__right__snsbtn__btn twitter" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        </li>
      <li><a href="https://www.instagram.com/coderninefs/?hl=ja" class="about__top__right__snsbtn__btn instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.facebook.com/mayukuno1006/" class="about__top__right__snsbtn__btn facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="mailto:ninefs1006@gmail.com?subject=問い合わせ&amp;body=ご記入ください" class="about__top__right__snsbtn__btn mail" target="_blank"><i class="far fa-envelope"></i></a></li>
      <li><a href="https://github.com/MayuKuno" class="about__top__right__snsbtn__btn git" target="_blank"><i class="fab fa-github home-git"></i></a></li>
      <li><a href="https://www.linkedin.com/in/%E7%9C%9F%E5%84%AA-%E4%B9%9D%E9%87%8E-000601184/" class="about__top__right__snsbtn__btn linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>


    </ul>
    </div>
  </div>
<!-- ====================bottom==================== -->
  <div class="about__bottom">
    <div class="about__bottom__experiences">
      <h1>Experience</h1>
      <ul class='about__bottom__experiences__timeline'>
        <li>
          <div>
            <p class='about__bottom__experiences__timeline__title'>Global Business,<br>Akita International University</p>
            <p class='about__bottom__experiences__timeline__date'>2018 Aug</p>
            <p class='about__bottom__experiences__timeline__circle'></p>
            <p class='about__bottom__experiences__timeline__description'>After graduating high school in Canada, I entered Akita International University. My major was liberal arts specificaly global business.</p>
          </div>
        </li>
        <li>
          <div>
            <p class='about__bottom__experiences__timeline__title'>LINKSHARE Japan, Rakuten</p>
            <p class='about__bottom__experiences__timeline__date'>2018 Oct-<br>2020 March</p>
            <p class='about__bottom__experiences__timeline__circle'></p>
            <p class='about__bottom__experiences__timeline__description'>Started working as sales person at degital advertisement ageny. The job is to sell and consult about degital advertisement for corporate clients, specially affliate advertisement.</p>
          </div>
        </li>
        <li>
          <div>
            <p class='about__bottom__experiences__timeline__title'>Started coding</p>
            <p class='about__bottom__experiences__timeline__date'>2019 Jan-</p>
            <p class='about__bottom__experiences__timeline__circle'></p>
            <p class='about__bottom__experiences__timeline__description'>Started learning programming at the age of 23 after having programming tranining at my company and participated coding bootcamp for 6 months at TechCamp.</p>
          </div>
        </li>
        <li>
          <div>
            <p class='about__bottom__experiences__timeline__title'>Rakuten Mobile, Rakuten</p>
            <p class='about__bottom__experiences__timeline__date'>2020 April-</p>
            <p class='about__bottom__experiences__timeline__circle'></p>
            <p class='about__bottom__experiences__timeline__description'>Moved to Rakuten Mobile and started working as operational specialist at Quality Promotion department.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="about__bottom__skills">
    <div>
      <h1>Skills</h1>
      <div class="about__bottom__skills__container">
        <div class="about__bottom__skills__container__skill">
          <h2>HTML</h2>
          <div class="about__bottom__skills__container__skill__graph">
            <span class="bar" style="width: 80%;"></span>

          </div>
        </div>
        <div class="about__bottom__skills__container__skill">
          <h2>CSS</h2>
          <div class="about__bottom__skills__container__skill__graph">
            <%#<span class="about__bottom__skills__container__skill__graph__bar" style="width: 70%;">70%</span>%>
            <span class="bar" style="width: 70%;"></span>

          </div>
        </div>
        <div class="about__bottom__skills__container__skill">
          <h2>JavaScript</h2>
          <div class="about__bottom__skills__container__skill__graph">
            <span class="bar" style="width: 50%;"></span>

          </div>
        </div>
        <div class="about__bottom__skills__container__skill">
          <h2>JQuery</h2> <div class="about__bottom__skills__container__skill__graph">
            <span class="bar" style="width: 50%;"></span>
          </div>
        </div>
        <div class="about__bottom__skills__container__skill">
          <h2>Ruby</h2>
          <div class="about__bottom__skills__container__skill__graph">
            <span class="bar" style="width: 70%;"></span>
          </div>
        </div>
        <div class="about__bottom__skills__container__skill">
          <h2>Ruby on Rails</h2>
          <div class="about__bottom__skills__container__skill__graph">
            <span class="bar" style="width: 70%;"></span>
          </div>
        </div>
        <div class="about__bottom__skills__container__skill">
          <h2>Passion</h2>
          <div class="about__bottom__skills__container__skill__graph">
            <span class="bar" style="width: 120%;"></span>
          </div>
        </div>
        </div>
<!------------------------ --> 
    <div class="about__bottom__skills__languages">
      <h1>Language</h1>
      <div class="about__bottom__skills__languages__language">
        <div class="about__bottom__skills__languages__language__title">
          <h2>Japanese<span>(Native)</span> </h2>
        </div>
      </div>
      <div class="about__bottom__skills__languages__language">
        <div class="about__bottom__skills__languages__language__title">
          <h2>English<span>(Proficient)</span></h2>
        </div>
        <div class="about__bottom__skills__languages__language__description">
          <div class="about__bottom__skills__languages__language__description__graph">
            <span class="score" style="width: 72.2%;">IELTS 6.5</span>
          </div>
          <div class="about__bottom__skills__languages__language__description__graph">
            <span class="score" style="width: 96%;">TOEIC 950</span>
          </div>
        </div>
      </div>
    </div>
<!------------------------ --> 




      </div>
    </div>
  </div>
</div>




<footer>
  <div class="container">
  <ul class="navigation">
      <li class="navigation__list-item footer about-nav"><a href="/about">About</a></li>
      <li class="navigation__list-item footer"><a href="/works">WORK</a></li>
      <li class="navigation__list-item footer"><a href="/vlogs">BLOG</a></li>
    </ul>
    <div class="copyright">
      <p>© 2020 NINEFS</p>
    </div>
    <div class="container__logo">
      <a class="container__logo__content" href="/">NINEFS</a>
    </div>
  </div>
</footer>


