
.about-nav a{
  border-bottom:2px solid #f6ac00;
  opacity:1;
}
.about{
  height: 100%;
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  h1{
    font-size: $fontLarge;
  }
    &__top{
    display: flex;
    height: 100%;
      &__photo{
      margin-bottom: 80px;
        img{
          height: 300px;
          width: 250px;
        }
      }
      &__right{
        width: 100%;
        height: 300px;
        position: relative;
        margin-left: 60px;
        img{
          width: 50px;
          height: 50px;
          position: absolute;
          top: 0;
          right: 0;
          margin-top: 9px;
          margin-right: 35px;
        }
        h1{
          font-size: $fontLargest;
        }
        p{
          margin-top: 30px;
          font-size: $fontSmall;
        }
        &__snsbtn{
          display: flex;
          position: absolute;
          bottom: 0;
          li{
            margin-right: 30px;
            list-style: none;
          }
          &__btn{
            border-radius:50%;
            position:relative;
            display:inline-block;
            width:50px;
            height:50px;
            font-size:$fontMedium;
            text-decoration:none;
            transition:.5s;
            i{
              position:absolute;
              top:50%;
              left:50%;
              transform:translate(-50%,-50%);
            }
          }
          &__btn:hover{
            color:$white !important;
          }
        }

      }
    .twitter{
      border:solid 1px #55acee;
      color:#55acee;
      }
      .twitter:hover{
      border:solid 1px #55acee;
      background:#55acee;
      }
      .instagram {
      border:solid 1px #c6529a;
      color:#c6529a;
      font-size:$fontMedium;
      }
      .instagram:hover{
      border:solid 1px #c6529a;
      background:#c6529a;
      color:$white!important;
      }
      
      .facebook{
      border:solid 1px #3b5998;
      color:#3b5998;
      }
      .facebook:hover{
      border:solid 1px #3b5998;
      background:#3b5998;
      color:$white!important;
      }
      .mail{
      border:solid 1px #f3981d;
      color:#f3981d;	
      font-size:$fontMedium;
      }
      .mail:hover{
      border:solid 1px #f3981d;
      background:#f3981d;
      color:$white!important;
      }

      .git{
        border:solid 1px #24292e;
        color:#24292e;	
        font-size:$fontMedium;
      }
      .git:hover{
      border:solid 1px #24292e;
      background:#24292e;
      color:$white!important;
      i{
        color:$white!important;
      }
      }
      .linkedin{
        border:solid 1px rgb(40,103,178);
        color:rgb(40,103,178);	
        font-size:$fontSmall;
      }
      .linkedin:hover{
      border:solid 1px rgb(40,103,178);
      background:rgb(40,103,178);
      color:$white!important;
      i{
        color:$white!important;
      }
      }
    }
    &__bottom{
      margin-top: 10px;
      margin-bottom: 150px;
      display: flex;
      height: 100%;
      &__experiences{
        width: 50%;
        // background-color: beige;
        h1{
          border-bottom: solid 2px #494c4e;
          padding-bottom: 15px;
          width: 300px;
          font-size: $fontSmall;

        }

        &__timeline {
          list-style: none;
          margin: 20px 0 30px 50px;
          padding-left: 30px;
          width: 83%;
          border-left: 8px solid #eee9dc;
          li {
            margin: 40px 0;
            position: relative;
          }
          &__title{
            width: 100%;
            font-size: $fontSmall;
            font-weight: bold;
            border-bottom: solid 1.5px #494c4e;
            padding-bottom: 5px;
          }
          &__date {
            margin-top: -10px;
            top: 50%;
            left: -123px;
            font-size: $fontSmall;
            line-height: 20px;
            position: absolute;
          }
          &__circle {
            margin-top: -10px;
            top: 50%;
            left: -44px;
            width: 20px;
            height: 20px;
            background: #494c4e;
            border: 5px solid #eee9dc;
            border-radius: 50%;
            display: block;
            position: absolute;
          
        }
        &__description{
          padding-top: 5px;
          font-size: $fontSmaller;
        }
      }
    }

      &__skills{
        margin-left: 60px;
        width: 50%;
        position: relative;
        h1{
          border-bottom: solid 2px #494c4e;
          padding-bottom: 15px;
          width: 300px;
          font-size: $fontSmall;
        }

        &__container{
          margin-top: 40px;
          &__skill{
            display: flex;
            margin-bottom: 20px;
            margin-left: 10px;
            &__graph {
              position: relative; 
              width: 300px;
              border: 1px solid #494c4e;
              padding: 2px;
              margin-left: 40px;
              &__bar{
                display: block;
                position: relative;
                background: #f6ac00;
                text-align: center;
                color: $white;
                height: 2em;
                line-height: 2em;
                animation: bar-animation 1 3s;
              }
              @keyframes bar-animation{
                0%{
                  width: 0px;
                }
              }
            }
          }
      }
      &__languages{
        margin-top: 30px;
        // position: absolute;
        top: 500px;
        left: 0px;
 
        &__language{
          margin-left: 10px;
          margin-top: 30px;
          &__title{
            span{
              margin-left: 10px;
              font-size: $fontSmallest;
            }

          }
          &__description{
            margin-left: 30px;
            margin-top: 30px;
            &__graph{
              position: relative; 
              width: 200px;
              border: 1px solid #494c4e;
              padding: 2px;
              margin-left: 30px;
              margin-bottom: 15px;
              &__bar{
                display: block;
                position: relative;
                background: #494c4e;
                text-align: center;
                color: $white;
                height: 20px;
                line-height: 20px;
                animation: bar-animation 1 3s;

              }
            }

          }
        }
      }
      }
    h2{
      font-size:$fontSmall ;
      display: block;
      width: 150px;
    }
    }

}
