
/* ========================  // 〜559pxの画面サイズにCSSを適応 ======================== */
@media screen and (max-width: 559px){ 
  .Git{
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
    text-align: center;
    a{
      text-decoration: none;
      color:#494c4e ;
    }
    img{
      width: 100%;
    }
    &__github-link {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .blog-nav a{
    border-bottom:2px solid #f6ac00;
    opacity:1
  }
  
  .blog__contents{
    width: 100%;
    margin-top: 40px;
    &__top{
    width: 100%;
    opacity: 0.6;
      img{
      width: 100%;
      margin-bottom: 20px;
      }
    }
    &__bottom{
    // height: 80%;
    // display: flex;
    width: 100%;
    margin-top: 20px;
      &__articles{
        // position: relative;
        // width: 934px;
        // height: 1334px;
        box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
        background-color: #fffaf0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 100px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 50px;
          &__title{
            height:20px;
            margin-bottom:30px;
            width:100%;
 
          }

          &__list{
            background-color: #fffaf0;
            border: 1px solid #e0e0e0;
            width: 350px;
            text-align:center;
            margin-top: 50px;
            box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
            position: relative;
            // padding-bottom: 50px;
            // height: 378px;
            &__img{
              overflow: hidden;
              width: 100%;
  
            }
            img{
              width: 100%;
              height: 220px;
              transition-duration: 0.5s;
  
            }
            img:hover{
              transform: scale(1.2);
              transition-duration: 0.5s;
            }
  
            &__title{
              margin: 5px;
              a{
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: 20px;
              }
            }
            &__title:hover {
              position: relative;
              top: 1px;
              left: 1px;
            }
            &__category{
              background-color: #494c4e;
              padding: 0.35em 0.7em;
              border-radius: 10rem;
              display: inline-block;
              font-size:10px;
              margin-right:10px;
            }
            &__category:hover {
              position: relative;
              top: 1px;
              left: 1px;
            }
            &__time{
              margin-top:6px;
              font-size:10px;
            }
            &__description{
              padding-top: 7px;
              font-size:10px;
              height: 60px;
              width: 80%;
              margin: 0 auto;
            
            }
            &__detail{
              padding: 8px 12px;
              background-color: #494c4e;
              width: 60px;
              height: 35px;
              position: absolute;
              bottom: 20px;
              right: 20px;
              
              a{
                text-decoration: none;
                color: #eee;
              }
            }
    
          
        
        }
      }
      &__side{
        // width: 20%;
        // height:100%;
        &__profile{
          box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
          background-color: #fffaf0;
          width: 100%;
          // height: 30%;
          margin-bottom:20px;
          padding-top:20px;
          padding-bottom:10px;
  
          &__title{
            background-color: #494c4e;
            font-size: 15px;
            color: beige;
            width: 180px;
            height: 40px;
            padding-right: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-transform: uppercase;
            font-weight: bold;
            &__display{
              display: flex;
              &__right{
                margin-top: 30px;
                width:70% ;                

              }
              &__left{
              width:30% ;                
              }
            }
          }
          &__photo{
            text-align: center;

            img{
              object-fit:cover;
            margin-top:40px;
            width:60px;
            height:60px;
            border-radius:50%;
            }
          }
          &__name{
            width: 100%;
            margin: 30px 0;
            text-align: center;
            h1{
              font-size:12px;
            }
          }
          &__description{
            margin:20px;
            p{
              font-size:8px;
            }
          }
          &__snsbtn{
            display:flex;
            justify-content: space-between;
            margin:30px;
            li{
            }
            &__btn{
              border-radius:50%;
              position:relative;
              display:inline-block;
              width:30px;
              height:30px;
              font-size:35px;
              text-decoration:none;
              transition:.5s;
              i{
                font-size:60%;
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
              }
            }
            &__btn:hover{
              color:#fff !important;
            }
          }
          &__adminpage{
            width: 150px;
            height: 20px;
            background-color: #494c4e;
            text-align: center;
            margin: 0 auto;
            border-radius: 4px;
            a{
              text-decoration: none;
              color: white;
            }
          }
          &__adminpage:hover {
            position: relative;
            top: 1px;
            left: 1px;
          }
        
      
        .twitter{
        border:solid 1px #55acee;
        color:#55acee;
        }
        .twitter:hover{
        border:solid 1px #55acee;
        background:#55acee;
        }
        .instagram {
        border:solid 1px #c6529a;
        color:#c6529a;
        font-size:35px;
        }
        .instagram:hover{
        border:solid 1px #c6529a;
        background:#c6529a;
        color:#fff!important;
        }
        
        .facebook{
        border:solid 1px #3b5998;
        color:#3b5998;
        }
        .facebook:hover{
        border:solid 1px #3b5998;
        background:#3b5998;
        color:#fff!important;
        }
        .mail{
        border:solid 1px #f3981d;
        color:#f3981d;	
        font-size:28px;
        }
        .mail:hover{
        border:solid 1px #f3981d;
        background:#f3981d;
        color:#fff!important;
        }
        }
        &__category{
          box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
          background-color: #fffaf0;
          width: 100%;
          padding-bottom:10px;
  
          min-height: 765px;
          font-size: 30px;
          padding-top:20px;
          margin-bottom: 20px;
            &__title{
            background-color: #494c4e;
            font-size: 15px;
            color: beige;
            width: 180px;
            height: 40px;
            padding-right: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-transform: uppercase;
            font-weight: bold;
          }
          &__lists{
            padding-top:20px;
            &__list{
              font-size:20px;
              margin:30px;
              padding-bottom: 10px;
              border-bottom: 1px dotted #494c4e;
              a{
                text-decoration: none;
                color: black;
              }
            }
            &__list:hover {
              position: relative;
              top: 1px;
              left: 1px;
            }
          }
  
        }
      }
    }
  }
  
  
  // .blog__contents__categories{
  //   box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
  //   background-color: #fffaf0;
  //   width: 20%;
  //   &__title{
  //     width: 100%;
  //     height: 50px;
  //     text-align: center;
  //     line-height: 50px;
  //     font-size: 30px;
  //   }
  // }
  //  ＝＝＝＝＝＝＝show＝＝＝＝＝＝＝＝
  .details__contents{
    width: 100%;
    margin-top: 60px;
    // display: flex;
    margin-bottom: 100px;
    &__article{
      min-height: 1000px;
      box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
      background-color: #fffaf0;
      // width: 2000px;
      // display: flex;
      // flex-wrap: wrap;
      // margin-right:15px;
      padding: 50px;
      margin-bottom: 50px;

      &__titles{
        width: 100%;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 40px;
        &__manage{
          // display: flex;
          // justify-content: center;
          text-align: right;
          a{
            text-decoration: none;
            color: #494c4e;;
          }
        }
        &__title{
          width: 100%;
          // height: 170px;
          color: black;
          font-size: 30px;
          font-weight: bold;
        } 
        &__date{
          color:#737373 ;
          font-size: 20px;
        }  
        &__category{
          background-color: #494c4e;
          padding: 0.35em 0.7em;
          border-radius: 10rem;
          display: inline-block;
          font-size:15px;
          margin-top:20px;
          margin-right:10px;
          &__link{
            text-decoration:none;
            color: beige;
  
          }
        }   
      }
      &__content{
        width: 100%;
        // height: 100%;
        font-size: 18px;
        line-height: 180%;
        margin-top:20px;


      }
    }
    &__side{
      // width: 20%;
      // height:100%;
      &__profile{
        box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
        background-color: #fffaf0;
        width: 100%;
        // height: 30%;
        margin-bottom:20px;
        padding-top:20px;
        padding-bottom:10px;

        &__title{
          background-color: #494c4e;
          font-size: 15px;
          color: beige;
          width: 180px;
          height: 40px;
          padding-right: 20px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-transform: uppercase;
          font-weight: bold;
          &__display{
            display: flex;
            &__right{
              margin-top: 30px;
              width:70% ;                

            }
            &__left{
            width:30% ;                
            }
          }
        }
        &__photo{
          text-align: center;

          img{
            object-fit:cover;
          margin-top:40px;
          width:60px;
          height:60px;
          border-radius:50%;
          }
        }
        &__name{
          width: 100%;
          margin: 30px 0;
          text-align: center;
          h1{
            font-size:12px;
          }
        }
        &__description{
          margin:20px;
          p{
            font-size:8px;
          }
        }
        &__snsbtn{
          display:flex;
          justify-content: space-between;
          margin:30px;
          li{
          }
          &__btn{
            border-radius:50%;
            position:relative;
            display:inline-block;
            width:30px;
            height:30px;
            font-size:35px;
            text-decoration:none;
            transition:.5s;
            i{
              font-size:60%;
              position:absolute;
              top:50%;
              left:50%;
              transform:translate(-50%,-50%);
            }
          }
          &__btn:hover{
            color:#fff !important;
          }
        }
        &__adminpage{
          width: 150px;
          height: 20px;
          background-color: #494c4e;
          text-align: center;
          margin: 0 auto;
          border-radius: 4px;
          a{
            text-decoration: none;
            color: white;
          }
        }
        &__adminpage:hover {
          position: relative;
          top: 1px;
          left: 1px;
        }
      
    
      .twitter{
      border:solid 1px #55acee;
      color:#55acee;
      }
      .twitter:hover{
      border:solid 1px #55acee;
      background:#55acee;
      }
      .instagram {
      border:solid 1px #c6529a;
      color:#c6529a;
      font-size:35px;
      }
      .instagram:hover{
      border:solid 1px #c6529a;
      background:#c6529a;
      color:#fff!important;
      }
      
      .facebook{
      border:solid 1px #3b5998;
      color:#3b5998;
      }
      .facebook:hover{
      border:solid 1px #3b5998;
      background:#3b5998;
      color:#fff!important;
      }
      .mail{
      border:solid 1px #f3981d;
      color:#f3981d;	
      font-size:28px;
      }
      .mail:hover{
      border:solid 1px #f3981d;
      background:#f3981d;
      color:#fff!important;
      }
      }
      &__category{
        box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
        background-color: #fffaf0;
        width: 100%;
        padding-bottom:10px;

        min-height: 765px;
        font-size: 30px;
        padding-top:20px;
        margin-bottom: 20px;
          &__title{
          background-color: #494c4e;
          font-size: 15px;
          color: beige;
          width: 180px;
          height: 40px;
          padding-right: 20px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-transform: uppercase;
          font-weight: bold;
        }
        &__lists{
          padding-top:20px;
          &__list{
            font-size:20px;
            margin:30px;
            padding-bottom: 10px;
            border-bottom: 1px dotted #494c4e;
            a{
              text-decoration: none;
              color: black;
            }
          }
          &__list:hover {
            position: relative;
            top: 1px;
            left: 1px;
          }
        }

      }
    }
  }
  
  
  .fa-clock{
    padding: 0 5px;
  }
  
  
  .details__contents__article__content__agenda{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    background: #fffbf4;
    padding: 0;
    border: solid 2px #151a1d;
    margin-bottom: 2em;
    font-size: 18px;
    border-radius: 5px;
  }
  .agenda{
    font-weight: bold;
    text-align: center;
    background-color:#494c4e ;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .header{
    background: #fffbf4;
    border-left: solid #494c4e 5px;
    padding: 14px 12px;
    border-bottom: solid 3px #dadada;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px;
  
  }
  
  .details__contents__article__content__agenda ol{
    list-style: decimal;
    margin: 4px 5%;
    padding: 0 0 0 40px;
  }
  .details__contents__article__content__agenda li{
    padding: 0;
    font-weight: bold;
  }
  
  .details__contents__article__content a{
    color: #545454;
    padding: 8px 0;
    display: block;
    text-decoration: none;
  }
  
  
  /* category */
  .vlogs{
    &__paginate {
      position: absolute;
      bottom: 20px;
      right:400px;
      margin: 0 auto;
      text-align: center;
      a{
        color: black;
        text-decoration: none;
      }
      a:hover {
        position: relative;
        top: 1px;
        left: 1px;
      }
    }
  }
}

/* ========================  // 560px〜960pxの画面サイズにCSSを適応 ======================== */
@media screen and (min-width: 560px) and ( max-width:960px){
  .Git{
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
    text-align: center;
    a{
      text-decoration: none;
      color:#494c4e ;
    }
    img{
      width: 100%;
    }
    &__github-link {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .blog-nav a{
    border-bottom:2px solid #f6ac00;
    opacity:1
  }
  
  .blog__contents{
    width: 100%;
    margin-top: 40px;
    &__top{
    width: 100%;
    opacity: 0.6;
      img{
      width: 100%;
      margin-bottom: 20px;
      }
    }
    &__bottom{
    // height: 80%;
    // display: flex;
    width: 100%;
    margin-top: 20px;
      &__articles{
        // position: relative;
        // width: 934px;
        // height: 1334px;
        box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
        background-color: #fffaf0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 100px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 50px;
          &__title{
            height:20px;
            margin-bottom:30px;
            width:100%;
 
          }
          &__list{
            background-color: #fffaf0;
            border: 1px solid #e0e0e0;
            width: 350px;
            text-align:center;
            margin-top: 50px;
            box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
            position: relative;
            // padding-bottom: 50px;
            
            &__img{
              overflow: hidden;
              width: 100%;
  
            }
            img{
              width: 100%;
              height: 220px;
              transition-duration: 0.5s;
  
            }
            img:hover{
              transform: scale(1.2);
              transition-duration: 0.5s;
            }
  
            &__title{
              margin: 5px;
              a{
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: 20px;
              }
            }
            &__title:hover {
              position: relative;
              top: 1px;
              left: 1px;
            }
            &__category{
              background-color: #494c4e;
              padding: 0.35em 0.7em;
              border-radius: 10rem;
              display: inline-block;
              font-size:10px;
              margin-right:10px;
            }
            &__category:hover {
              position: relative;
              top: 1px;
              left: 1px;
            }
            &__time{
              margin-top:6px;
              font-size:10px;
            }
            &__description{
              padding-top: 7px;
              font-size:10px;
              height: 60px;
              width: 80%;
              margin: 0 auto;
            
            }
            &__detail{
              padding: 8px 12px;
              background-color: #494c4e;
              width: 60px;
              height: 35px;
              position: absolute;
              bottom: 20px;
              right: 20px;
              
              a{
                text-decoration: none;
                color: #eee;
              }
            }
    
          
        
        }
      }
      &__side{
        // width: 20%;
        // height:100%;
        &__profile{
          box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
          background-color: #fffaf0;
          width: 100%;
          // height: 30%;
          margin-bottom:20px;
          padding-top:20px;
          padding-bottom:10px;
  
          &__title{
            background-color: #494c4e;
            font-size: 15px;
            color: beige;
            width: 180px;
            height: 40px;
            padding-right: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-transform: uppercase;
            font-weight: bold;
            &__display{
              display: flex;
              &__right{
                margin-top: 30px;
                width:50% ;                

              }
              &__left{
              width:50% ;                
              }
            }
          }
          &__photo{
            img{
              object-fit:cover;
            margin-right: 68px;
            margin-left: 68px;
            margin-top:40px;
            width:120px;
            height:120px;
            border-radius:50%;
            }
          }
          &__name{
            width: 100%;
            margin: 30px 0;
            text-align: center;
            h1{
              font-size:20px;
            }
          }
          &__description{
            margin:20px;
            p{
              font-size:12px;
            }
          }
          &__snsbtn{
            display:flex;
            justify-content: space-between;
            margin:30px;
            li{
            }
            &__btn{
              border-radius:50%;
              position:relative;
              display:inline-block;
              width:30px;
              height:30px;
              font-size:35px;
              text-decoration:none;
              transition:.5s;
              i{
                font-size:60%;
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
              }
            }
            &__btn:hover{
              color:#fff !important;
            }
          }
          &__adminpage{
            width: 200px;
            height: 20px;
            background-color: #494c4e;
            text-align: center;
            margin: 0 auto;
            border-radius: 4px;
            a{
              text-decoration: none;
              color: white;
            }
          }
          &__adminpage:hover {
            position: relative;
            top: 1px;
            left: 1px;
          }
        
      
        .twitter{
        border:solid 1px #55acee;
        color:#55acee;
        }
        .twitter:hover{
        border:solid 1px #55acee;
        background:#55acee;
        }
        .instagram {
        border:solid 1px #c6529a;
        color:#c6529a;
        font-size:35px;
        }
        .instagram:hover{
        border:solid 1px #c6529a;
        background:#c6529a;
        color:#fff!important;
        }
        
        .facebook{
        border:solid 1px #3b5998;
        color:#3b5998;
        }
        .facebook:hover{
        border:solid 1px #3b5998;
        background:#3b5998;
        color:#fff!important;
        }
        .mail{
        border:solid 1px #f3981d;
        color:#f3981d;	
        font-size:28px;
        }
        .mail:hover{
        border:solid 1px #f3981d;
        background:#f3981d;
        color:#fff!important;
        }
        }
        &__category{
          box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
          background-color: #fffaf0;
          width: 100%;
          padding-bottom:10px;
  
          min-height: 765px;
          font-size: 30px;
          padding-top:20px;
          margin-bottom: 20px;
            &__title{
            background-color: #494c4e;
            font-size: 15px;
            color: beige;
            width: 180px;
            height: 40px;
            padding-right: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-transform: uppercase;
            font-weight: bold;
          }
          &__lists{
            padding-top:20px;
            &__list{
              font-size:20px;
              margin:30px;
              padding-bottom: 10px;
              border-bottom: 1px dotted #494c4e;
              a{
                text-decoration: none;
                color: black;
              }
            }
            &__list:hover {
              position: relative;
              top: 1px;
              left: 1px;
            }
          }
  
        }
      }
    }
  }
  
  
  // .blog__contents__categories{
  //   box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
  //   background-color: #fffaf0;
  //   width: 20%;
  //   &__title{
  //     width: 100%;
  //     height: 50px;
  //     text-align: center;
  //     line-height: 50px;
  //     font-size: 30px;
  //   }
  // }
  //  ＝＝＝＝＝＝＝show＝＝＝＝＝＝＝＝
  .details__contents{
    width: 100%;
    margin-top: 60px;
    // display: flex;
    margin-bottom: 100px;
    &__article{
      min-height: 1000px;
  
      box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
      background-color: #fffaf0;
      // width: 2000px;
      // display: flex;
      // flex-wrap: wrap;
      // margin-right: 15px;
      margin-bottom: 20px;
      padding: 50px;
      &__titles{
        width: 100%;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 40px;
        &__manage{
          // display: flex;
          // justify-content: center;
          text-align: right;
          a{
            text-decoration: none;
            color: #494c4e;;
          }

          
        }
        &__title{
          width: 100%;
          // height: 170px;
          color: black;
          font-size: 40px;
          font-weight: bold;
        } 
        &__date{
          color:#737373 ;
          font-size: 20px;
        }  
        &__category{
          background-color: #494c4e;
          padding: 0.35em 0.7em;
          border-radius: 10rem;
          display: inline-block;
          font-size:15px;
          margin-top:20px;
          margin-right:10px;
          &__link{
            text-decoration:none;
            color: beige;
  
          }
        }   
      }
      &__content{
        width: 100%;
        // height: 100%;
        font-size: 18px;
        line-height: 180%;
        margin-top:20px;
      }
    }
    &__side{
      // width: 20%;
      // height:100%;
      &__profile{
        box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
        background-color: #fffaf0;
        width: 100%;
        // height: 30%;
        margin-bottom:20px;
        padding-top:20px;
        padding-bottom:10px;

        &__title{
          background-color: #494c4e;
          font-size: 15px;
          color: beige;
          width: 180px;
          height: 40px;
          padding-right: 20px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-transform: uppercase;
          font-weight: bold;
          &__display{
            display: flex;
            &__right{
              margin-top: 30px;
              width:50% ;                

            }
            &__left{
            width:50% ;                
            }
          }
        }
        &__photo{
          img{
            object-fit:cover;
          margin-right: 68px;
          margin-left: 68px;
          margin-top:40px;
          width:120px;
          height:120px;
          border-radius:50%;
          }
        }
        &__name{
          width: 100%;
          margin: 30px 0;
          text-align: center;
          h1{
            font-size:20px;
          }
        }
        &__description{
          margin:20px;
          p{
            font-size:12px;
          }
        }
        &__snsbtn{
          display:flex;
          justify-content: space-between;
          margin:30px;
          li{
          }
          &__btn{
            border-radius:50%;
            position:relative;
            display:inline-block;
            width:30px;
            height:30px;
            font-size:35px;
            text-decoration:none;
            transition:.5s;
            i{
              font-size:60%;
              position:absolute;
              top:50%;
              left:50%;
              transform:translate(-50%,-50%);
            }
          }
          &__btn:hover{
            color:#fff !important;
          }
        }
        &__adminpage{
          width: 200px;
          height: 20px;
          background-color: #494c4e;
          text-align: center;
          margin: 0 auto;
          border-radius: 4px;
          a{
            text-decoration: none;
            color: white;
          }
        }
        &__adminpage:hover {
          position: relative;
          top: 1px;
          left: 1px;
        }
      
    
      .twitter{
      border:solid 1px #55acee;
      color:#55acee;
      }
      .twitter:hover{
      border:solid 1px #55acee;
      background:#55acee;
      }
      .instagram {
      border:solid 1px #c6529a;
      color:#c6529a;
      font-size:35px;
      }
      .instagram:hover{
      border:solid 1px #c6529a;
      background:#c6529a;
      color:#fff!important;
      }
      
      .facebook{
      border:solid 1px #3b5998;
      color:#3b5998;
      }
      .facebook:hover{
      border:solid 1px #3b5998;
      background:#3b5998;
      color:#fff!important;
      }
      .mail{
      border:solid 1px #f3981d;
      color:#f3981d;	
      font-size:28px;
      }
      .mail:hover{
      border:solid 1px #f3981d;
      background:#f3981d;
      color:#fff!important;
      }
      }
      &__category{
        box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
        background-color: #fffaf0;
        width: 100%;
        padding-bottom:10px;

        min-height: 765px;
        font-size: 30px;
        padding-top:20px;
        margin-bottom: 20px;
          &__title{
          background-color: #494c4e;
          font-size: 15px;
          color: beige;
          width: 180px;
          height: 40px;
          padding-right: 20px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-transform: uppercase;
          font-weight: bold;
        }
        &__lists{
          padding-top:20px;
          &__list{
            font-size:20px;
            margin:30px;
            padding-bottom: 10px;
            border-bottom: 1px dotted #494c4e;
            a{
              text-decoration: none;
              color: black;
            }
          }
          &__list:hover {
            position: relative;
            top: 1px;
            left: 1px;
          }
        }

      }
    }
    
  }
  
  
  .fa-clock{
    padding: 0 5px;
  }
  
  
  .details__contents__article__content__agenda{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    background: #fffbf4;
    padding: 0;
    border: solid 2px #151a1d;
    margin-bottom: 2em;
    font-size: 18px;
    border-radius: 5px;
  }
  .agenda{
    font-weight: bold;
    text-align: center;
    background-color:#494c4e ;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .header{
    background: #fffbf4;
    border-left: solid #494c4e 5px;
    padding: 14px 12px;
    border-bottom: solid 3px #dadada;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px;
  
  }
  
  .details__contents__article__content__agenda ol{
    list-style: decimal;
    margin: 4px 5%;
    padding: 0 0 0 40px;
  }
  .details__contents__article__content__agenda li{
    padding: 0;
    font-weight: bold;
  }
  
  .details__contents__article__content a{
    color: #545454;
    padding: 8px 0;
    display: block;
    text-decoration: none;
  }
  
  
  /* category */
  .vlogs{
    &__paginate {
      position: absolute;
      bottom: 20px;
      right:400px;
      margin: 0 auto;
      text-align: center;
      a{
        color: black;
        text-decoration: none;
      }
      a:hover {
        position: relative;
        top: 1px;
        left: 1px;
      }
    }
  }
}

/* ========================  // 960px～の画面サイズにCSSを適応 ======================== */
@media screen and (min-width: 960px) { 
  .Git{
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
    text-align: center;
    a{
      text-decoration: none;
      color:#494c4e ;
    }
    img{
      width: 100%;
      margin-left: 30px;
    }
    &__github-link {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .blog-nav a{
    border-bottom:2px solid #f6ac00;
    opacity:1
  }
  
  .blog__contents{
    width: 100%;
    margin-top: 40px;
    &__top{
    width: 100%;
    opacity: 0.6;
      img{
      width: 100%;
      margin-bottom: 20px;
      }
    }
    &__bottom{
    // height: 80%;
    display: flex;
    width: 100%;
    margin-top: 20px;
      &__articles{
        position: relative;
        width: 934px;
        height: 1334px;
        box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
        background-color: #fffaf0;
        display: flex;
        flex-wrap: wrap;
        margin-right: 50px;
        justify-content: space-between;
        margin-bottom: 50px;
        padding-right: 80px;
        padding-left: 80px;
        padding-bottom: 50px;
        padding-top: 20px;

        span{
          background-color: #494c4e;
          font-size: 15px;
          color: beige;
          width: 180px;
          height: 40px;
          line-height: 40px;
          padding-right: 20px;
          text-transform: uppercase;
          font-weight: bold;
          display: inline;
          position: absolute;
          top: 20px;
          left: 0;
          text-align: right;
        }
          &__title{
            height:20px;
            margin-bottom:30px;
            width:100%;
            background-color: red;
          }

          &__list{
            background-color: #fffaf0;
            border: 1px solid #e0e0e0;
            width: 350px;
            text-align:center;
            margin-top: 50px;
            box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
            position: relative;
            // padding-bottom: 50px;
            // height: 378px;
            &__img{
              overflow: hidden;
              width: 100%;
  
            }
            img{
              width: 100%;
              height: 220px;
              transition-duration: 0.5s;
  
            }
            img:hover{
              transform: scale(1.2);
              transition-duration: 0.5s;
            }
  
            &__title{
              margin: 5px;
              a{
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: 20px;
              }
            }
            &__title:hover {
              position: relative;
              top: 1px;
              left: 1px;
            }
            &__category{
              background-color: #494c4e;
              padding: 0.35em 0.7em;
              border-radius: 10rem;
              display: inline-block;
              font-size:10px;
              margin-right:10px;
            }
            &__category:hover {
              position: relative;
              top: 1px;
              left: 1px;
            }
            &__time{
              margin-top:6px;
              font-size:10px;
            }
            &__description{
              padding-top: 7px;
              font-size:10px;
              height: 60px;
              width: 80%;
              margin: 0 auto;
            
            }
            &__detail{
              padding: 8px 12px;
              background-color: #494c4e;
              width: 60px;
              height: 35px;
              position: absolute;
              bottom: 20px;
              right: 20px;
              
              a{
                text-decoration: none;
                color: #eee;
              }
            }
    
          
        
        }
      }
      &__side{
        // width: 20%;
        // height:100%;
        width: 256px;
        &__profile{
          box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
          background-color: #fffaf0;
          width: 100%;
          // height: 30%;
          margin-bottom:20px;
          padding-top:20px;
          padding-bottom:10px;
  
          &__title{
            background-color: #494c4e;
            font-size: 15px;
            color: beige;
            width: 180px;
            height: 40px;
            padding-right: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-transform: uppercase;
            font-weight: bold;
          }
          &__photo{
            img{
              object-fit:cover;
            margin-right: 68px;
            margin-left: 68px;
            margin-top:40px;
            width:120px;
            height:120px;
            border-radius:50%;
            }
          }
          &__name{
            width: 100%;
            margin: 30px;
            h1{
              font-size:20px;
            }
          }
          &__description{
            margin:20px;
            p{
              font-size:12px;
            }
          }
          &__snsbtn{
            display:flex;
            justify-content: space-between;
            margin:30px;
            li{
            }
            &__btn{
              border-radius:50%;
              position:relative;
              display:inline-block;
              width:30px;
              height:30px;
              font-size:35px;
              text-decoration:none;
              transition:.5s;
              i{
                font-size:60%;
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
              }
            }
            &__btn:hover{
              color:#fff !important;
            }
          }
          &__adminpage{
            width: 200px;
            height: 20px;
            background-color: #494c4e;
            text-align: center;
            margin: 0 auto;
            border-radius: 4px;
            a{
              text-decoration: none;
              color: white;
            }
          }
          &__adminpage:hover {
            position: relative;
            top: 1px;
            left: 1px;
          }
        
      
        .twitter{
        border:solid 1px #55acee;
        color:#55acee;
        }
        .twitter:hover{
        border:solid 1px #55acee;
        background:#55acee;
        }
        .instagram {
        border:solid 1px #c6529a;
        color:#c6529a;
        font-size:35px;
        }
        .instagram:hover{
        border:solid 1px #c6529a;
        background:#c6529a;
        color:#fff!important;
        }
        
        .facebook{
        border:solid 1px #3b5998;
        color:#3b5998;
        }
        .facebook:hover{
        border:solid 1px #3b5998;
        background:#3b5998;
        color:#fff!important;
        }
        .mail{
        border:solid 1px #f3981d;
        color:#f3981d;	
        font-size:28px;
        }
        .mail:hover{
        border:solid 1px #f3981d;
        background:#f3981d;
        color:#fff!important;
        }
        }
        &__category{
          box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
          background-color: #fffaf0;
          width: 100%;
          padding-bottom:10px;
  
          min-height: 765px;
          font-size: 30px;
          padding-top:20px;
            &__title{
            background-color: #494c4e;
            font-size: 15px;
            color: beige;
            width: 180px;
            height: 40px;
            padding-right: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-transform: uppercase;
            font-weight: bold;

          }
          &__lists{
            padding-top:20px;
            &__list{
              font-size:20px;
              margin:30px;
              padding-bottom: 10px;
              border-bottom: 1px dotted #494c4e;
              a{
                text-decoration: none;
                color: black;
              }
            }
            &__list:hover {
              position: relative;
              top: 1px;
              left: 1px;
            }
          }
  
        }
      }
    }
  }

  
  // .blog__contents__categories{
  //   box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
  //   background-color: #fffaf0;
  //   width: 20%;
  //   &__title{
  //     width: 100%;
  //     height: 50px;
  //     text-align: center;
  //     line-height: 50px;
  //     font-size: 30px;
  //   }
  // }
  //  ＝＝＝＝＝＝＝show＝＝＝＝＝＝＝＝
  .details__contents{
    width: 100%;
    margin-top: 60px;
    display: flex;
    margin-bottom: 100px;
    &__article{
      min-height: 1000px;
  
      box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
      background-color: #fffaf0;
      width: 2000px;
      // display: flex;
      // flex-wrap: wrap;
      margin-right: 15px;
      padding: 50px;
      &__titles{
        width: 100%;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 40px;
        &__manage{
          // display: flex;
          // justify-content: center;
          text-align: right;
          a{
            text-decoration: none;
            color: #494c4e;;
          }

          
        }
        &__title{
          width: 100%;
          // height: 170px;
          color: black;
          font-size: 50px;
          font-weight: bold;
        } 
        &__date{
          color:#737373 ;
          font-size: 20px;
        }  
        &__category{
          background-color: #494c4e;
          padding: 0.35em 0.7em;
          border-radius: 10rem;
          display: inline-block;
          font-size:15px;
          margin-top:20px;
          margin-right:10px;
          &__link{
            text-decoration:none;
            color: beige;
  
          }
        }   
      }
      &__content{
        width: 100%;
        // height: 100%;
        font-size: 18px;
        line-height: 180%;
        margin-top:20px;
      }
    }
    &__side{
      // width: 20%;
      // height:100%;
      width: 256px;
      &__profile{
        box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
        background-color: #fffaf0;
        width: 100%;
        // height: 30%;
        margin-bottom:20px;
        padding-top:20px;
        padding-bottom:10px;

        &__title{
          background-color: #494c4e;
          font-size: 15px;
          color: beige;
          width: 180px;
          height: 40px;
          padding-right: 20px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-transform: uppercase;
          font-weight: bold;
        }
        &__photo{
          img{
            object-fit:cover;
          margin-right: 68px;
          margin-left: 68px;
          margin-top:40px;
          width:120px;
          height:120px;
          border-radius:50%;
          }
        }
        &__name{
          width: 100%;
          margin: 30px;
          h1{
            font-size:20px;
          }
        }
        &__description{
          margin:20px;
          p{
            font-size:12px;
          }
        }
        &__snsbtn{
          display:flex;
          justify-content: space-between;
          margin:30px;
          li{
          }
          &__btn{
            border-radius:50%;
            position:relative;
            display:inline-block;
            width:30px;
            height:30px;
            font-size:35px;
            text-decoration:none;
            transition:.5s;
            i{
              font-size:60%;
              position:absolute;
              top:50%;
              left:50%;
              transform:translate(-50%,-50%);
            }
          }
          &__btn:hover{
            color:#fff !important;
          }
        }
        &__adminpage{
          width: 200px;
          height: 20px;
          background-color: #494c4e;
          text-align: center;
          margin: 0 auto;
          border-radius: 4px;
          a{
            text-decoration: none;
            color: white;
          }
        }
        &__adminpage:hover {
          position: relative;
          top: 1px;
          left: 1px;
        }
      
    
      .twitter{
      border:solid 1px #55acee;
      color:#55acee;
      }
      .twitter:hover{
      border:solid 1px #55acee;
      background:#55acee;
      }
      .instagram {
      border:solid 1px #c6529a;
      color:#c6529a;
      font-size:35px;
      }
      .instagram:hover{
      border:solid 1px #c6529a;
      background:#c6529a;
      color:#fff!important;
      }
      
      .facebook{
      border:solid 1px #3b5998;
      color:#3b5998;
      }
      .facebook:hover{
      border:solid 1px #3b5998;
      background:#3b5998;
      color:#fff!important;
      }
      .mail{
      border:solid 1px #f3981d;
      color:#f3981d;	
      font-size:28px;
      }
      .mail:hover{
      border:solid 1px #f3981d;
      background:#f3981d;
      color:#fff!important;
      }
      }
      &__category{
        box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
        background-color: #fffaf0;
        width: 100%;
        padding-bottom:10px;

        min-height: 765px;
        font-size: 30px;
        padding-top:20px;
          &__title{
          background-color: #494c4e;
          font-size: 15px;
          color: beige;
          width: 180px;
          height: 40px;
          padding-right: 20px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-transform: uppercase;
          font-weight: bold;

        }
        &__lists{
          padding-top:20px;
          &__list{
            font-size:20px;
            margin:30px;
            padding-bottom: 10px;
            border-bottom: 1px dotted #494c4e;
            a{
              text-decoration: none;
              color: black;
            }
          }
          &__list:hover {
            position: relative;
            top: 1px;
            left: 1px;
          }
        }

      }
    }
    
  }
  
  
  .fa-clock{
    padding: 0 5px;
  }
  
  
  .details__contents__article__content__agenda{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    background: #fffbf4;
    padding: 0;
    border: solid 2px #151a1d;
    margin-bottom: 2em;
    font-size: 18px;
    border-radius: 5px;
  }
  .agenda{
    font-weight: bold;
    text-align: center;
    background-color:#494c4e ;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .header{
    background: #fffbf4;
    border-left: solid #494c4e 5px;
    padding: 14px 12px;
    border-bottom: solid 3px #dadada;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px;
  
  }
  
  .details__contents__article__content__agenda ol{
    list-style: decimal;
    margin: 4px 5%;
    padding: 0 0 0 40px;
  }
  .details__contents__article__content__agenda li{
    padding: 0;
    font-weight: bold;
  }
  
  .details__contents__article__content a{
    color: #545454;
    padding: 8px 0;
    display: block;
    text-decoration: none;
  }
  
  
  /* category */
  .vlogs{
    &__paginate {
      position: absolute;
      bottom: 20px;
      right:400px;
      margin: 0 auto;
      text-align: center;
      a{
        color: black;
        text-decoration: none;
      }
      a:hover {
        position: relative;
        top: 1px;
        left: 1px;
      }
    }
  }
  
}

