* {
  box-sizing: border-box;
}
html{
  font-family: 'Raleway', sans-serif;
  color:#494c4e;
  width: 100%;
}

body{
  // border:18px solid #494c4e;
  margin:0;
  padding: 50px 100px;
  height: 100%;
  width: 100%;
}


html:before,
html:after,
body:before,
body:after {
  content: "";
  background: #494c4e;
  position: fixed;
  display: block;
  z-index: 1;
}

/* 上 */
html:before {
  height: 12px; 
  width: 100vw;
  left: 0;
  top: 0;
}

/* 右 */
html:after {
  width: 18px;
  height: 100vh;
  right: 0;
  top: 0;
}

/* 下 */
body:before {
  height: 18px;
  width: 100vw;
  bottom: 0;
  left: 0;
}

/* 左 */
body:after {
  width: 18px;
  height: 100vh;
  top: 0;
  left: 0;
}

header{
  width: 100%;
}

/* ========================  // 〜559pxの画面サイズにCSSを適応 ======================== */
@media screen and (max-width: 559px){ 
  .container{
    display: flex;
    justify-content: space-between;
    &__logo{
      width: 120px;
      height: 100px;
      background-color: #494c4e;
      text-align:center;
      &__content{
        padding: 5px;
        color: beige;
        font-family: 'Bangers', cursive;
        font-size: 35px;
        letter-spacing: 2.5px;
        line-height: 100px;
        text-decoration:none;
      }
    }
    
  }
  .navigation{
    // display: flex;
    // padding-right: 40px;
    align-items: center;
    &__list-item{
      list-style:none;
      font-weight: bold;
      font-size: 17px;
      margin-bottom: 16px;
      a{
        color:#494c4e;
        text-decoration:none;
      }
    }
  
    &__list-item a:hover{
      border-bottom:2px solid #f6ac00;
      opacity:1
    }
  }
}
/* ========================  // 560px〜960pxの画面サイズにCSSを適応 ======================== */
@media screen and (min-width: 560px){
  .container{
    display: flex;
    justify-content: space-between;
    &__logo{
      width: 120px;
      height: 100px;
      background-color: #494c4e;
      text-align:center;
      &__content{
        padding: 5px;
        color: beige;
        font-family: 'Bangers', cursive;
        font-size: 35px;
        letter-spacing: 2.5px;
        line-height: 100px;
        text-decoration:none;
      }
    }
    
  }
  .navigation{
    // display: flex;
    // padding-right: 40px;
    align-items: center;
    &__list-item{
      list-style:none;
      font-weight: bold;
      font-size: 17px;
      margin-bottom: 16px;
      a{
        color:#494c4e;
        text-decoration:none;
      }
    }
  
    &__list-item a:hover{
      border-bottom:2px solid #f6ac00;
      opacity:1
    }
  }
}


/* ========================  // 960px～の画面サイズにCSSを適応 ======================== */
@media screen and (min-width: 960px) { 
  .container{
    display: flex;
    justify-content: space-between;
    &__logo{
      width: 120px;
      height: 100px;
      background-color: #494c4e;
      text-align:center;
      &__content{
        padding: 5px;
        color: beige;
        font-family: 'Bangers', cursive;
        font-size: 35px;
        letter-spacing: 2.5px;
        line-height: 100px;
        text-decoration:none;
      }
    }
    
  }
  .navigation{
    display: flex;
    padding-right: 40px;
    align-items: center;
    &__list-item{
      list-style:none;
      font-weight: bold;
      font-size: 17px;
      a{
        color:#494c4e;
        text-decoration:none;
      }
    }
    &__list-item:not(:first-child){
      margin-left:2em;
    }
    &__list-item a:hover{
      border-bottom:2px solid #f6ac00;
      opacity:1
    }
  }
  

}

