/* ========================  // 〜559pxの画面サイズにCSSを適応 ======================== */
@media screen and (max-width: 559px){ 
  .work-nav a{
    border-bottom:2px solid #f6ac00;
    opacity:1
  }
  .work{
    &__top{
      margin-top: 60px;
      height: 60px;
      font-size: 20px;
      font-weight: bold;
    }
    &__contents{
      background:#fffaf0;
      margin: 0 0px 60px 0px;
      &__tabs{
        position:relative;
        &__tab-buttons{

          span{
            font-size: 14px;
            color:#333;
            cursor:pointer;
            border-bottom:2px solid #ddd;
            display:block;
            width:33.3%;
            float:left;
            text-align:center;
            height:60px;
            line-height:60px;
          }
          #lamp{
            width:33.3%;
            height:2px;
            background:#333;
            display:block;
            position:absolute;
            top:58px;
            transition: all .3s ease-in;
          }
        }
      }
      &__tab-content{
        border-bottom:3px solid #ddd;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
         &__list{
          height: 250px;
          width: 300px;
          margin: 0 auto;
          box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
          margin-top: 40px;
          &__img{
            width: 100%;
            overflow: hidden;
            img{
              width: 100%;
              height: 160px;
            }
            img{
              width: 100%;
              transition-duration: 0.5s;
            }
            img:hover{
              transform: scale(1.2);
              transition-duration: 0.5s;
            }
          }
  
          &__details{
            margin-top: 10px;
            text-align: center;
            &__name{
              font-size: 20px;
              font-weight: bold;
              a{
                text-decoration: none;
                color: black;
              }
            }
            &__name:hover {
              position: relative;
              top: 1px;
              left: 1px;
            }
            &__languages{
              display: flex;
               justify-content: center; 
              font-size: 7px;
              padding: 5px;
              flex-wrap: wrap;
              width: 300px;
              margin: 0 auto;
              &__lang{
                background-color: #494c4e;
                padding: 0.35em 0.7em;
                padding-bottom: 0.4em;
                border-radius: 10rem;
                color: beige;
                margin-top: 5px;
              }
              li:not(:last-child){
                margin-right: 15px;
              }
            }
          }
        }
        &__none{
          height: 500px;
        }
        &__content1{
          display: flex;
          justify-content: start;
          flex-wrap: wrap;
          &__content-work{
            margin-left:80px;  
          }
        }
  
      }
    }
  }
  
  
  
  #lamp.content1{
    left:0;
    transition: all .3s ease-in;
  }
  #lamp.content2{
    left:33.3%;
    transition: all .3s ease-in;
  }
  #lamp.content3{
    left:66.6%;
    transition: all .3s ease-in;
  }
  
  
  .work__show__contents{
    &__top{

      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;
  
      &__title{
        // width: 800px;
        height: 40px;
        font-size: 40px;
        margin: 0 auto;
        padding-top: 20px;
      }
      &__image{
        margin: 0 auto;
        height: auto;
        width: 80%;
        margin-top: 80px;
  
        img{
          width: 80%;

        }
      }
    }
    &__bottom{
      // height: 800px;
      // margin:0 200px;
      // padding-top: 40px;
      width: 80%;
      margin: 0 auto;
      &__items{
          &__overview{
            // display: flex;
            border: solid 1px #dce4ec;
            margin: 2em 0 1em;
            padding: 2.3em 1.9em 2.2em;
            border-radius: 4px;
            min-height: 150px;
            position: relative;
            &__left{
              font-weight: bold;
              margin-right: 10px;
              font-size: 14px;
              width: 20%;
              
            }
            &__right{
              font-size: 12px;
              width: 80%;


              &__website{
                background-color: #494c4e;
                text-align: center;
                position: absolute;
                bottom: 10px;
                right: 20px;
                padding: 3px 10px;
                font-weight: bold;
                font-size: 12px;
                a{
                  text-decoration: none;
                  color: beige;
                }
              }
              &__readme{
                background-color: #494c4e;
                text-align: center;
                position: absolute;
                bottom: 10px;
                right: 110px;
                padding: 3px 10px;
                font-weight: bold;
                font-size: 12px;
                a{
                  text-decoration: none;
                  color: beige;
                }
              }
            }
          }
          &__concept{
            // display: flex;
            margin: 2em 0 1em;
            padding: 2.3em 1.9em 2.2em;
            border-radius: 4px;
            min-height: 150px;
            &__left{
              font-weight: bold;
              margin-right: 10px;
              font-size: 14px;
              width: 20%;
            }            
            &__right{
            font-size: 12px;
            width: 80%;

            }

          }
          &__skills{
            // display: flex;
            margin: 2em 0 1em;
            padding: 2.3em 1.9em 2.2em;
            border-radius: 4px;
            min-height: 150px;
 
            &__left{
              font-weight: bold;
              margin-right: 10px;
              font-size: 14px;
              width: 20%;
            }            
            &__right{
            font-size: 12px;
            width: 80%;

            }
          }
          &__period{
            // display: flex;
            margin: 2em 0 1em;
            padding: 2.3em 1.9em 2.2em;
            border-radius: 4px;
            min-height: 150px;
            &__left{
              font-weight: bold;
              margin-right: 10px;
              font-size: 14px;
              width: 20%;
            }            
            &__right{
            font-size: 12px;
            width: 80%;

            }
          }
      }
  
    }
  }
}

/* ========================  // 560px〜960pxの画面サイズにCSSを適応 ======================== */
@media screen and (min-width: 560px){
  .work-nav a{
    border-bottom:2px solid #f6ac00;
    opacity:1
  }
  .work{
    &__top{
      margin-top: 60px;
      height: 60px;
      font-size: 34px;
      font-weight: bold;
    }
    &__contents{
      background:#fffaf0;
      margin: 0 0px 60px 0px;
      &__tabs{
        // margin:auto;
        position:relative;
        &__tab-buttons{
          span{
            font:14px;
            color:#333;
            cursor:pointer;
            border-bottom:2px solid #ddd;
            display:block;
            width:33.3%;
            float:left;
            text-align:center;
            height:60px;
            line-height:60px;
          }
          #lamp{
            width:33.3%;
            height:2px;
            background:#333;
            display:block;
            position:absolute;
            top:58px;
            transition: all .3s ease-in;
          }
        }
      }
      &__tab-content{
        border-bottom:3px solid #ddd;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
         &__list{
          height: 250px;
          width: 300px;
          margin: 0 auto;
          box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
          margin-top: 40px;
          &__img{
            width: 100%;
            overflow: hidden;
            img{
              width: 100%;
              height: 160px;
            }
            img{
              width: 100%;
              transition-duration: 0.5s;
            }
            img:hover{
              transform: scale(1.2);
              transition-duration: 0.5s;
            }
          }
  
          &__details{
            margin-top: 10px;
            text-align: center;
            &__name{
              font-size: 20px;
              font-weight: bold;
              a{
                text-decoration: none;
                color: black;
              }
            }
            &__name:hover {
              position: relative;
              top: 1px;
              left: 1px;
            }
            &__languages{
              display: flex;
              justify-content: center;
              font-size: 7px;
              padding: 5px;
              flex-wrap: wrap;
              width: 300px;
              margin: 0 auto;
              &__lang{
                background-color: #494c4e;
                padding: 0.35em 0.7em;
                padding-bottom: 0.4em;
                border-radius: 10rem;
                color: beige;
                margin-top: 5px;
              }
              li:not(:last-child){
                margin-right: 15px;
              }
            }
          }
        }
        &__none{
          height: 500px;
        }
        &__content1{
          display: flex;
          justify-content: start;
          flex-wrap: wrap;
          &__content-work{
            margin-left:80px;  
          }
        }
  
      }
    }
  }
  
  
  
  #lamp.content1{
    left:0;
    transition: all .3s ease-in;
  }
  #lamp.content2{
    left:33.3%;
    transition: all .3s ease-in;
  }
  #lamp.content3{
    left:66.6%;
    transition: all .3s ease-in;
  }
  
  
  .work__show__contents{
    &__top{
      // background-color: bisque;
      // height: 1000px;
      // width: 1200px;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;
  
      &__title{
        // width: 800px;
        height: 40px;
        font-size: 40px;
        margin: 0 auto;
        padding-top: 20px;
      }
      &__image{
        margin: 0 auto;
        height: auto;
        width: 80%;
        margin-top: 80px;
  
        img{
          width: 80%;

        }
      }
    }
    &__bottom{
      // height: 800px;
      // margin:0 200px;
      // padding-top: 40px;
      width: 80%;
      margin: 0 auto;
      &__items{
        &__overview{
          display: flex;
          border: solid 1px #dce4ec;
          margin: 2em 0 1em;
          padding: 2.3em 1.9em 2.2em;
          border-radius: 4px;
          min-height: 150px;
          position: relative;
          &__left{
            font-weight: bold;
            margin-right: 10px;
            font-size: 14px;
            width: 20%;
            
          }
          &__right{
            font-size: 12px;
            width: 80%;


            &__website{
              background-color: #494c4e;
              text-align: center;
              position: absolute;
              bottom: 10px;
              right: 20px;
              padding: 3px 10px;
              font-weight: bold;
              font-size: 12px;
              a{
                text-decoration: none;
                color: beige;
              }
            }
            &__readme{
              background-color: #494c4e;
              text-align: center;
              position: absolute;
              bottom: 10px;
              right: 110px;
              padding: 3px 10px;
              font-weight: bold;
              font-size: 12px;
              a{
                text-decoration: none;
                color: beige;
              }
            }
          }
        }
        &__concept{
          display: flex;
          margin: 2em 0 1em;
          padding: 2.3em 1.9em 2.2em;
          border-radius: 4px;
          min-height: 150px;
          &__left{
            font-weight: bold;
            margin-right: 10px;
            font-size: 14px;
            width: 20%;
           }            
          &__right{
          font-size: 12px;
          width: 80%;

          }

        }
        &__skills{
          display: flex;
          margin: 2em 0 1em;
          padding: 2.3em 1.9em 2.2em;
          border-radius: 4px;
          min-height: 150px;

          &__left{
            font-weight: bold;
            margin-right: 10px;
            font-size: 14px;
            width: 20%;
          }            
          &__right{
          font-size: 12px;
          width: 80%;
        }
        }
        &__period{
          display: flex;
          margin: 2em 0 1em;
          padding: 2.3em 1.9em 2.2em;
          border-radius: 4px;
          min-height: 150px;
          &__left{
            font-weight: bold;
            margin-right: 10px;
            font-size: 14px;
            width: 20%;
          }            
          &__right{
          font-size: 12px;
          width: 80%;

          }
        }
    }
  
    }
  }
}


/* ========================  // 960px～の画面サイズにCSSを適応 ======================== */
@media screen and (min-width: 960px) { 
  .work-nav a{
    border-bottom:2px solid #f6ac00;
    opacity:1
  }
  .work{
    &__top{
      margin-top: 60px;
      margin-left: 62px;
      margin-right: 62px;
      height: 60px;
      font-size: 34px;
      font-weight: bold;
    }
    &__contents{
      background:#fffaf0;
      margin: 0 62px 60px 62px;
      &__tabs{
        // margin:auto;
        position:relative;
        &__tab-buttons{
          span{
            font:14px;
            color:#333;
            cursor:pointer;
            border-bottom:2px solid #ddd;
            display:block;
            width:33.3%;
            float:left;
            text-align:center;
            height:60px;
            line-height:60px;
          }
          #lamp{
            width:33.3%;
            height:2px;
            background:#333;
            display:block;
            position:absolute;
            top:58px;
            transition: all .3s ease-in;
          }
        }
      }
      &__tab-content{
        border-bottom:3px solid #ddd;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
         &__list{
          height: 250px;
          width: 300px;
          margin: 0 auto;
          box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
          margin-top: 40px;
          &__img{
            width: 100%;
            overflow: hidden;
            img{
              width: 100%;
              height: 160px;
            }
            img{
              width: 100%;
              transition-duration: 0.5s;
            }
            img:hover{
              transform: scale(1.2);
              transition-duration: 0.5s;
            }
          }
  
          &__details{
            margin-top: 10px;
            text-align: center;
            &__name{
              font-size: 20px;
              font-weight: bold;
              a{
                text-decoration: none;
                color: black;
              }
            }
            &__name:hover {
              position: relative;
              top: 1px;
              left: 1px;
            }
            &__languages{
              display: flex;
              justify-content: center;
              font-size: 7px;
              padding: 5px;
              flex-wrap: wrap;
              width: 300px;
              margin: 0 auto;
              &__lang{
                background-color: #494c4e;
                padding: 0.35em 0.7em;
                padding-bottom: 0.4em;
                border-radius: 10rem;
                color: beige;
                margin-top: 5px;
              }
              li:not(:last-child){
                margin-right: 15px;
              }
            }
          }
        }
        &__none{
          height: 500px;
        }
        &__content1{
          display: flex;
          justify-content: start;
          flex-wrap: wrap;
          &__content-work{
            margin-left:80px;  
          }
        }
  
      }
    }
  }
  
  
  
  #lamp.content1{
    left:0;
    transition: all .3s ease-in;
  }
  #lamp.content2{
    left:33.3%;
    transition: all .3s ease-in;
  }
  #lamp.content3{
    left:66.6%;
    transition: all .3s ease-in;
  }
  
  
  .work__show__contents{
    &__top{
      // background-color: bisque;
      // height: 1000px;
      // width: 1200px;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;
  
      &__title{
        width: 800px;
        height: 40px;
        font-size: 40px;
        margin: 0 auto;
        padding-top: 20px;
      }
      &__image{
        margin: 0 auto;
        height: auto;
        width: 80%;
        margin-top: 80px;
  
        img{
          width: 80%;
        }
      }
    }
    &__bottom{
      // height: 800px;
      // margin:0 200px;
      // padding-top: 40px;
      width: 80%;
      margin: 0 auto;
     &__items{
          &__overview{
            display: flex;
            border: solid 1px #dce4ec;
            margin: 2em 0 1em;
            padding: 2.3em 1.9em 2.2em;
            border-radius: 4px;
            min-height: 150px;
            position: relative;
            &__left{
              font-weight: bold;
              margin-right: 10px;
              font-size: 14px;
              width: 20%;
              
            }
            &__right{
              font-size: 12px;
              width: 80%;

              &__website{
                background-color: #494c4e;
                text-align: center;
                position: absolute;
                bottom: 10px;
                right: 20px;
                padding: 3px 10px;
                font-weight: bold;
                font-size: 12px;
                a{
                  text-decoration: none;
                  color: beige;
                }
              }
              &__readme{
                background-color: #494c4e;
                text-align: center;
                position: absolute;
                bottom: 10px;
                right: 110px;
                padding: 3px 10px;
                font-weight: bold;
                font-size: 12px;
                a{
                  text-decoration: none;
                  color: beige;
                }
              }
            }
          }
          &__concept{
            display: flex;
            margin: 2em 0 1em;
            padding: 2.3em 1.9em 2.2em;
            border-radius: 4px;
            min-height: 150px;
            &__left{
              font-weight: bold;
              margin-right: 10px;
              font-size: 14px;
              width: 20%;

            }            
            &__right{
            font-size: 12px;
            width: 80%;

            }

          }
          &__skills{
            display: flex;
            margin: 2em 0 1em;
            padding: 2.3em 1.9em 2.2em;
            border-radius: 4px;
            min-height: 150px;
 
            &__left{
              font-weight: bold;
              margin-right: 10px;
              font-size: 14px;
              width: 20%;
            }            
            &__right{
            font-size: 12px;
            width: 80%;

            }
          }
          &__period{
            display: flex;
            margin: 2em 0 1em;
            padding: 2.3em 1.9em 2.2em;
            border-radius: 4px;
            min-height: 150px;
            &__left{
              font-weight: bold;
              margin-right: 10px;
              font-size: 14px;
              width: 20%;
            }            
            &__right{
            font-size: 12px;
            width: 80%;

            }
          }
      }
  
    }
  }
}


