<footer>
  <div class="container">
    <ul class="navigation">
      <li class="navigation__list-item footer"><a href="/about">About</a></li>
      <li class="navigation__list-item footer"><a href="/works">WORK</a></li>
      <li class="navigation__list-item footer"><a href="/vlogs">BLOG</a></li>
    </ul>
    <div class="copyright">
      <p>© 2020 NINEFS</p>
    </div>
    <div class="container__logo">
      <a class="container__logo__content" href="/">NINEFS</a>
    </div>
  </div>
</footer>
